# Node.js
node_modules/
.env
dist/
build/

# Frontend
frontend-prueba-tecnica/dist/
frontend-prueba-tecnica/.env

# Backend
backend/node_modules/
backend/dist/
backend/.env

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db